.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.editor {
  width: 100%;
}

.completed {
  text-decoration: line-through;
}
.filter-bar {
  margin-top: 20px;
  display: flex;
  justify-content: center;

}
.filter {
  width: 100%;
  max-width: 300px;
}

table {
  margin-top: 20px;
  width: 100%;
  border:  solid grey 1px;
}

.actions-buttons button{
  margin-left: 10px;
}

.actions-buttons{
  width: 25%;
}

.buttons-section{
  display: flex;
  align-items: center;
  justify-content: center;
}

